/* HEADER */
.headerTag {
  padding: 3em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-style-tag {
  background-color: #ff6666;
  font-family: "SpriteGraffiti", sans-serif;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-style-tag span {
  display: inline-block;
  transform: scale(2.3);
  position: relative;
  font-size: 1.3em;
  rotate: -5deg;
}

.tagMonth {
  width: 14em;
  animation: danceEffectTag 2s infinite ease-in-out;
}

@keyframes danceEffectTag {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.video-container-tag {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.background-video-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* CAROSELLO */
.imgCarousel-tag {
  width: 250px !important;
  height: 350px !important;
  object-fit: cover !important;
  border-radius: 30px !important;
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
}

.containerCarousel-tag {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.mySwiper-tag .image-container-tag {
  position: relative;
  text-align: center;
}

.mySwiper-tag img {
  border-radius: 10px;
}

.artist-info-tag {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
}

/* CONTAINER */
.sfondo-tag-sect-up {
  height: 24vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-tag {
  background-size: cover;
}

.title-tag img {
  width: 14em;
}

.tag-sect-text {
  color: red;
  font-family: "SpriteGraffiti", sans-serif;
}

.containerBodyTag {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.card-container-tag {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.card-img-tag {
  border-radius: 30px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.card-info-tag {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  rotate: -3deg;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-info-tag p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 20px;
  border-radius: 3px;
}

.card-info-tag span {
  font-family: "SpriteGraffiti-Extras", sans-serif;
}

.arrow-svg-tag {
  cursor: pointer;
  max-width: 40px;
  animation: moveArrowHorizontalTag 1s infinite ease-in-out;
  rotate: -82deg;
}

@keyframes moveArrowHorizontalTag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* MODALE */
.modal-tag .modal-body {
  background-color: black;
  padding: unset;
}

.modal-tag .modal-image-tag {
  width: 100%;
  height: auto;
}

.modal-tag .artist-info-modal-tag {
  font-family: "SpriteGraffiti", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 9px;
}

.opera-modal-tag p {
  font-family: "SpriteGraffiti", sans-serif;
}

.opera-modal-tag span {
  font-family: "Typewriter", sans-serif;
  color: red;
}

.opera-modal-tag {
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.modal-content-tag {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border: solid 1px black;
}

/* SFOCONDO MODALE */
.modal-open-tag {
  overflow: hidden;
}

.modal-open-tag::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* MASONRY GRID */
.masonry-grid-tag {
  column-count: 4;
  column-gap: 10px;
  background-color: black;
}

.masonry-item-tag {
  break-inside: avoid;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.masonry-item-tag:hover {
  transform: scale(1.03);
}

.masonry-item-tag img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.masonry-item-tag img:hover {
  cursor: pointer;
}

.masonry-info-tag {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.39);
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.masonry-info-tag span {
  color: #f9f9f9;
  font-family: "SpriteGraffiti", sans-serif;
}

.masonry-info-tag p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 20px;
  border-radius: 3px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .mobile-carousel-tag .image-container-tag {
    position: relative;
  }
  .mobile-carousel-tag .swiper-slide {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-carousel-tag .carousel-img-tag {
    border-radius: 10px;
  }
  .mobile-carousel-tag .swiper-button-prev,
  .mobile-carousel-tag .swiper-button-next {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .imgCarousel-tag {
    width: 75vw !important;
    height: 350px !important;
    border-radius: 10px !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .imgCarousel-tag {
    width: 50vw !important;
    height: 350px !important;
    border-radius: 15px !important;
  }
}
