.streetart-body {
}

/* HEADER */
.headerStreetArt {
  padding: 3em;
  background-size: cover;
}

.streetart-buttons {
  gap: 9rem;
}

.btn-style-streetart {
  background-color: #ff6666;
  font-family: "SpriteGraffiti", sans-serif;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-style-streetart span {
  display: inline-block;
  transform: scale(2.3);
  position: relative;
  font-size: 1.3em;
  rotate: -5deg;
}

.streetArtMonth {
  width: 14em;
  animation: danceEffectStreetArt 2s infinite ease-in-out;
}

@keyframes danceEffectStreetArt {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.video-container-streetart {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.background-video-streetart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: auto;
  transform: translate(-50%, -50%);
}

/* CAROSELLO */
.imgCarousel-streetart {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
}

.containerCarousel-streetart h4 {
  font-family: "SpriteGraffiti", sans-serif;
  background-size: cover;
}

.containerCarousel-streetart h4 span {
  font-family: "SpriteGraffiti-extras", sans-serif;
}

.containerCarousel-streetart {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.mySwiper-streetart .image-container-streetart {
  position: relative;
  text-align: center;
}

.mySwiper-streetart img {
  border-radius: 10px;
}

.artist-info-streetart {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
}

/* CONTAINER */

.sfondo-streetart-sect-up {
  height: 24vh;
  background-size: cover;
}

.title-streetart {
  background-size: cover;
}

.title-streetart img {
  width: 14em;
}

.streetart-sect-text {
  color: red;
  font-family: "SpriteGraffiti", sans-serif;
}

.containerBodyStreetArt {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.card-container-streetart {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.card-img-streetart {
  border-radius: 30px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.card-info-streetart {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  rotate: -3deg;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-info-streetart span {
  font-family: "SpriteGraffiti-Extras", sans-serif;
}

.arrow-svg-streetart {
  cursor: pointer;
  max-width: 40px;
  animation: moveArrowHorizontalStreetArt 1s infinite ease-in-out;
  rotate: -82deg;
}

@keyframes moveArrowHorizontalStreetArt {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Modale */

.modal-streetart .modal-body {
  background-color: black;
  padding: unset;
}
.modal-image-streetart {
  width: 100%;
  height: auto;
}

.artist-info-modal-streetart {
  font-family: "SpriteGraffiti", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 9px;
}

.opera-modal-streetart p {
  font-family: "SpriteGraffiti", sans-serif;
}
.opera-modal-streetart span {
  font-family: "Typewriter", sans-serif;
  color: red;
}
.opera-modal-streetart {
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.modal-content-streetart {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border: solid 1px black;
}

.modal-open-streetart {
  overflow: hidden;
}

.modal-open-streetart::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* MASONRY GRID */
.masonry-grid-streetart {
  column-count: 4;
  column-gap: 10px;
  background-color: black;
}

.masonry-item-streetart {
  break-inside: avoid;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.masonry-item-streetart:hover {
  transform: scale(1.03);
}

.masonry-item-streetart img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.masonry-item-streetart img:hover {
  cursor: pointer;
}

.masonry-info-streetart {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.39);
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.masonry-info-streetart span {
  color: #f9f9f9;
  font-family: "SpriteGraffiti", sans-serif;
}

.masonry-info-streetart p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 20px;
  border-radius: 3px;
}

/* Sezione con background nero */
.containerBodyStreetArt,
.masonry-grid-streetart {
  background-color: black;
}
