/* HEADER */
.h1-streetart {
  font-family: "SpriteGraffiti", sans-serif;
}

.headerStreetArt {
  padding: 3em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-style-streetart {
  background-color: #ff6666;
  font-family: "SpriteGraffiti", sans-serif;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-style-streetart span {
  display: inline-block;
  transform: scale(2.3);
  position: relative;
  font-size: 1.3em;
  rotate: -5deg;
}

.streetArtMonth {
  width: 14em;
  animation: danceEffectStreetArt 2s infinite ease-in-out;
}

@keyframes danceEffectStreetArt {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.video-container-streetart {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.background-video-streetart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* CAROSELLO */
.imgCarousel-streetart {
  width: 250px !important;
  height: 350px !important;
  object-fit: cover !important;
  border-radius: 30px !important;
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
}

.containerCarousel-streetart {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.mySwiper-streetart .image-container-streetart {
  position: relative;
  text-align: center;
}

.mySwiper-streetart .imgCarousel-streetart {
  max-width: none;
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 30px;
}

.artist-info-streetart {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
}

/* CONTAINER */

.sfondo-streetart-sect-up {
  height: 24vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-streetart {
  background-size: cover;
}

.title-streetart img {
  width: 14em;
}

.streetart-sect-text {
  color: red;
  font-family: "SpriteGraffiti", sans-serif;
}

.containerBodyStreetArt {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.card-container-streetart {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.card-img-streetart {
  border-radius: 30px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.card-info-streetart {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  rotate: -3deg;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-info-streetart p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 20px;
  border-radius: 3px;
}

.card-info-streetart span {
  font-family: "SpriteGraffiti-Extras", sans-serif;
}

.arrow-svg-streetart {
  cursor: pointer;
  max-width: 40px;
  animation: moveArrowHorizontalStreetArt 1s infinite ease-in-out;
  rotate: -82deg;
  fill: red !important;
}

@keyframes moveArrowHorizontalStreetArt {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* MODALE */

.modal-streetart .modal-body {
  background-color: black;
  padding: unset;
}

.modal-streetart .modal-image-streetart {
  width: 100%;
  height: auto;
}

.modal-streetart .artist-info-modal-streetart {
  font-family: "SpriteGraffiti", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 9px;
}

.opera-modal-streetart p {
  font-family: "SpriteGraffiti", sans-serif;
}

.opera-modal-streetart span {
  font-family: "Typewriter", sans-serif;
  color: red;
}

.opera-modal-streetart {
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.modal-content-streetart {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border: solid 1px black;
}

/* SFONDO MODALE */
.modal-open-streetart {
  overflow: hidden;
}

.modal-open-streetart::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* MASONRY GRID */
.masonry-grid-streetart {
  column-count: 4;
  column-gap: 10px;
  background-color: black;
}

.masonry-item-streetart {
  break-inside: avoid;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.masonry-item-streetart:hover {
  transform: scale(1.03);
}

.masonry-item-streetart img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.masonry-item-streetart img:hover {
  cursor: pointer;
}

.masonry-info-streetart {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.39);
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.masonry-info-streetart span {
  color: #f9f9f9;
  font-family: "SpriteGraffiti", sans-serif;
}

.masonry-info-streetart p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 20px;
  border-radius: 3px;
}

.containerBodyStreetArt,
.masonry-grid-streetart {
  background-color: black;
}

.form-small-streetart {
  width: 150px;
  font-size: 0.85rem;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-family: "SpriteGraffiti", sans-serif;
}

.form-small-streetart::placeholder {
  color: white;
}

.form-small-streetart:focus {
  border-color: red;
  outline: none;
}

.search-card-streetart {
  background-color: black;
  border: 2px solid gray;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  transition: border-color 0.3s;
}

.search-card-streetart:hover {
  border-color: red;
}

.search-title-streetart {
  font-family: "SpriteGraffiti", sans-serif;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.flip-card-streetart {
  perspective: 1000px;
  width: 200px;
  height: 100px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-streetart-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
}

.flip-card-streetart:hover .flip-card-streetart-inner {
  transform: rotateY(180deg);
}

.search-card-streetart-expand {
  transition: width 0.4s ease;
}

.search-card-streetart-expand:hover {
  width: 250px;
}

.flip-card-streetart-front,
.flip-card-streetart-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  background-color: black;
}

.flip-card-streetart-front {
  background-color: black;
}

.flip-card-streetart-back {
  background-color: black;
  transform: rotateY(180deg);
}

/* MUSICA OVERLAY */
.music-overlay-streetart {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid red;
  font-family: "SpriteGraffiti", sans-serif;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.music-overlay-streetart p {
  margin: 0;
  text-align: center;
  color: white;
}

.close-overlay-icon-streetart {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.player-controls-streetart {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.control-icon-streetart {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-icon-streetart img {
  width: 100%;
  height: 100%;
}

.close-overlay-icon-streetart img {
  width: 20px;
  height: 20px;
}

.load-more-container-streetart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.line-streetart {
  flex: 1;
  height: 0.5px;
  background-color: red;
  opacity: 0.5;
  margin: 0 8px;
}

.load-more-text-streetart {
  color: red;
  font-weight: bold;
  margin-right: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .mobile-carousel-streetart .image-container-streetart {
    position: relative;
  }
  .search-card-streetart {
    border: none;
  }
  .mobile-carousel-streetart .swiper-slide {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-carousel-streetart .carousel-img-streetart {
    border-radius: 10px;
  }
  .mobile-carousel-streetart .swiper-button-prev,
  .mobile-carousel-streetart .swiper-button-next {
    display: none !important;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .imgCarousel-streetart {
    width: 75vw !important;
    height: 350px !important;
    border-radius: 10px !important;
  }
  .headerStreetArt .d-flex {
    flex-direction: column;
    gap: 2rem !important;
  }
  .headerStreetArt .btn-style {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem 0;
    font-size: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .imgCarousel-streetart {
    width: 50vw !important;
    height: 350px !important;
    border-radius: 15px !important;
  }
}
