.navbarBody {
  background-color: #181a1c;
  border-bottom: solid 1px #c0c0c0;
}
.logoImg {
  width: 200px;
}
.nav-link {
  color: #c0c0c0;
  font-family: "SpriteGraffiti", sans-serif;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: red !important;
}

.nav-link:active {
  color: red; /* Colore grigio quando il link è attivo (durante il clic) */
}

.nav-link:focus {
  color: #c0c0c0; /* Colore grigio quando il link ha il focus */
}

/* MODALE*/
.custom-modal .modal-dialog {
  display: flex;
  align-items: center;
  min-height: 60vh; /* Regolo a che altezza compare il modale */
}

.custom-modal .modal-content {
  background-color: #181a1c; /* Sfondo nero */
  color: white; /* Testo bianco */
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid #c0c0c0;
}

.logo-modal {
  width: 17em;
  text-align: center;
}

/* Posiziona Contatti all'inizio della riga e aggiungi gli stili */
.contatti-link {
  margin-right: auto; /* Allinea a sinistra */
  color: #c0c0c0; /* Colore grigio come gli altri link */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  font-size: 1.25rem; /* Regola la dimensione del testo se necessario */
}

.contatti-link:hover {
  color: red; /* Cambia colore in rosso all'hover */
}

/* Modale dei contatti: riduci dimensioni e posizionalo sotto il titolo "Contatti" */
.custom-modal-contact .modal-dialog {
  max-width: 300px; /* Imposta la larghezza massima del modal */
  position: absolute;
  top: 50%; /* Posiziona il modal sotto la scritta "Contatti" */
  left: 30%; /* Allinea il modal a sinistra */
  transform: translateY(10px); /* Aggiungi un po' di margine sotto la scritta */
}

.custom-modal-contact .modal-content {
  background-color: #181a1c; /* Mantieni lo stile del modale */
  color: white;
  border: 1px solid #c0c0c0;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease;
}
