.graffMonth {
  width: 14em;
  animation: danceEffect 2s infinite ease-in-out; /* cambiare i secondi per regolare la velocita */
}

@keyframes danceEffect {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* CAROSELLO */
.imgCarousel {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
}

.containerCarousel h4 {
  font-family: "SpriteGraffiti", sans-serif;
}

.containerCarousel h4 span {
  font-family: "SpriteGraffiti-extras", sans-serif;
}

.containerCarousel {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.mySwiper .image-container {
  position: relative;
  text-align: center;
}

.mySwiper img {
  border-radius: 10px;
}

.artist-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
}

/* CONTAINER */
.containerBody {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.card-container {
  position: relative;
  text-align: center;

  cursor: pointer;
}

.card-img {
  border-radius: 30px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  rotate: -3deg;
  position: absolute;
  bottom: 3px;
  left: -16px;

  padding: 5px 10px;
  border-radius: 5px;
}
.card-info span {
  font-family: "SpriteGraffiti-Extras", sans-serif;
}
/* Modale */
.modal-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.artist-info-modal {
  font-family: "SpriteGraffiti", sans-serif;

  padding: 5px 10px;
  border-radius: 5px;

  position: absolute;
  top: 9px;
}
.stato-opera-modal,
.anno-opera-modal,
.luogo-opera-modal {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.modal-content {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border: solid 1px black;
}
/* BUTTON LOAD MORE */
