.graffiti-body {
}

/* HEADER */
.headerGraffiti {
  padding: 3em;
  background-size: cover;
}

.btn-style {
  background-color: #ff6666;
  font-family: "SpriteGraffiti", sans-serif;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-style span {
  display: inline-block;
  transform: scale(2.3);
  position: relative;
  font-size: 1.3em;
  rotate: -5deg;
}

.graffMonth {
  width: 14em;
  animation: danceEffect 2s infinite ease-in-out;
}

@keyframes danceEffect {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: auto;
  transform: translate(-50%, -50%);
}

/* CAROSELLO */
.imgCarousel {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
}

.containerCarousel h4 {
  font-family: "SpriteGraffiti", sans-serif;
  background-size: cover;
}

.containerCarousel h4 span {
  font-family: "SpriteGraffiti-extras", sans-serif;
}

.containerCarousel {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.mySwiper .image-container {
  position: relative;
  text-align: center;
}

.mySwiper img {
  border-radius: 10px;
}

.artist-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
}

/* CONTAINER */
.title-graffiti {
  border-radius: 5px;
  background-size: cover;
}

.title-graffiti img {
  width: 14em;
}

.containerBodyGraffiti {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 0;
  max-width: 100%;
}

.card-container {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.card-img {
  border-radius: 30px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  rotate: -3deg;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-info p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 20px;
  border-radius: 3px;
}

.card-info span {
  font-family: "SpriteGraffiti-Extras", sans-serif;
}

.arrow-svg {
  cursor: pointer;
  max-width: 40px;
  animation: moveArrowHorizontal 1s infinite ease-in-out;
  rotate: -82deg;
}

@keyframes moveArrowHorizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Modale */
.modal-body {
  background-color: black;
  padding: unset;
}
.modal-image {
  width: 100%;
  height: auto;
}

.artist-info-modal {
  font-family: "SpriteGraffiti", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 9px;
}

.opera-modal p {
  font-family: "SpriteGraffiti", sans-serif;
}
.opera-modal span {
  font-family: "Typewriter", sans-serif;
  color: red;
}
.opera-modal {
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.modal-content {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border: solid 1px black;
}

/* sfondo Modale */
.modal-open {
  overflow: hidden;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* MASONRY GRID */
.masonry-grid {
  column-count: 4;
  column-gap: 10px;
  background-color: black;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.masonry-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(230, 25, 25, 0.39);
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "SpriteGraffiti", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.masonry-info span {
  color: #f9f9f9;
  font-family: "SpriteGraffiti", sans-serif;
}

.masonry-info p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 20px;
  border-radius: 3px;
}
