.graffMonth {
  width: 14em;
  animation: danceEffect 2s infinite ease-in-out; /* cambiare i secondi per regolare la velocita*/
}

@keyframes danceEffect {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* CAROSELLO */
.imgCarousel {
  box-shadow: -6px 7px 18px -9px rgba(0, 0, 0, 0.77);
}
.containerCarousel h4 {
  font-family: "SpriteGraffiti", sans-serif;
}

.containerCarousel h4 span {
  font-family: "SpriteGraffiti-extras", sans-serif;
}
.containerCarousel {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.mySwiper .image-container {
  position: relative;
  text-align: center;
}

.mySwiper img {
  border-radius: 10px;
}

.artist-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6); /* Sfondo semi-trasparente */
  color: white;
  padding: 5px 10px;
}

/* CONTAINER */
.containerBody {
  background-color: lightgrey;
}
.card-img {
  border-radius: 30px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}
/* Stile delle card immagini simile al carosello */
.card-container {
  position: relative;
  text-align: center;
}

.card-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6); /* Sfondo semi-trasparente */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}
