.custom-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  background-color: #181a1c;
}
.register-page {
  min-height: 100vh;
}

.register-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-logo {
  width: 150px;
  margin-bottom: 15px;
}

.register-title {
  animation: danceEffect 2s infinite ease-in-out;
  font-family: "SpriteGraffiti", sans-serif;
}

@keyframes danceEffect {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
