.custom-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  background-color: #181a1c;
}
.register-page {
  min-height: 100vh;
}

.register-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-logo {
  width: 150px;
  margin-bottom: 15px;
}

.register-title {
  animation: danceEffect 2s infinite ease-in-out;
  font-family: "SpriteGraffiti", sans-serif;
}

@keyframes danceEffect {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.animated-text {
  position: absolute;
  right: -100%; /* Il testo arriva da destra */
  top: 50%;
  transform: translateY(-100%);
  font-family: "SpriteGraffiti", sans-serif;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  animation: slideInFromRight 2s forwards;
}

.animated-text.second {
  left: -100%; /* Cambia da right a left per far arrivare la seconda da sinistra */
  top: auto; /* Rimuovi il top */
  bottom: 10%; /* Posiziona la seconda sezione in basso */
  animation: slideInFromLeft 2s forwards;
  animation-delay: 2s;
  margin-top: 65px;
}

/* Animazione per far scorrere il testo da destra */
@keyframes slideInFromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 10px;
    opacity: 1;
  }
}

/* Animazione per far scorrere il testo da sinistra */
@keyframes slideInFromLeft {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

.arrow-right {
  width: 110px;

  rotate: -24deg;
}
.arrow-left {
  width: 110px;

  rotate: -24deg;
}
.left-sect {
  margin-top: -130px;
}
