@font-face {
  font-family: "SpriteGraffiti-Extras";
  src: url("../src/assets/fonts/SpriteGraffiti-Extras.otf") format("opentype");
}
@font-face {
  font-family: "SpriteGraffiti";
  src: url("../src/assets/fonts/SpriteGraffiti-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SpriteGraffiti-Bombing";
  src: url("../src/assets/fonts/SpriteGraffiti-Shadow.otf") format("opentype");
}
input:focus {
  outline: none !important;
  border-color: black !important;
  box-shadow: 0 0 5px black !important;
}
select:focus {
  outline: none !important; /* Rimuove il bordo blu di default */
  border-color: black !important; /* Cambia il colore del bordo */
  box-shadow: 0 0 5px black !important; /* Cambia il colore dello sfondino */
}
